{% extends "core/base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}

  
    <section class="hero ">
        <div class="hero-body">
            <div class="container">
                {% for post in posts %}
                <section class="section">
                    <div class="columns">
                      <div class="column is-8 is-offset-2">
                            {% if post.image %}
                                <figure class="image">
                                    <img src="{{ post.image.url }}">
                                </figure>
                            {% endif %}
                            <h2 class="subtitle is-4">{{post.created_at|date:"F d, Y"}}</h2>
                            <a href="{% url "detail" post.category.slug post.slug %}">
                                <h1 class="title">{{ post.title }}</h1>
                                <p>{{ post.intro }}</p>
                            </a>
                      </div>
                    </div>
                </section>
                <div class="is-divider"></div>
                {% endfor %}
            </div>
        </div>
    </section>    
  
  
 
{% endblock content %}